:root {
    font-family: 'Quicksand', sans-serif;
    --purple: rgb(218, 14, 191);
    --rosa: rgb(240, 42, 125);
    --rosa-light: rgb(255, 65, 144);
    --blue: rgb(76, 0, 255);
    --blue-dark: rgb(38, 25, 68);
    --blue-very-dark: rgb(17, 11, 31);
    --white: rgb(255, 241, 159);
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p,
blockquote, pre, form, fieldset, table, th, td {
    margin: 0px;
    padding: 0px;
    cursor: default;
    box-sizing: border-box;
}
body {
    background-color: var(--blue-very-dark);
    color: var(--white); /* font color */
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}



#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100vw;
    padding: 5px 20px 5px 15px;
    box-sizing: border-box;
    z-index: 98;
    transition: top 0.3s;
    background-color: var(--rosa);
}
#home {
    margin-right: auto
}
.hamburger-container {
    cursor: pointer;
}
.line1, .line2, .line3 {
    background-color: #ffffff;
    width: 25px;
    height: 1px;
    margin: 8px;
}
#menu {
    position: fixed;
    display: none; /* change to none/flex to see changes */
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--rosa-light);
    z-index: 99;
    top: 45px;
}
#menu a {
    color: #ffffff;
    padding: 10px;
}
#menu a:hover {
    background-color: var(--rosa-light);
}
#menu a:active {
    background-color: var(--rosa-light);
}


.main-container {
}



#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    padding: 0;
}
#welcome-section > p {
    animation-name: text-welcome-section;
    animation-duration: 1s;
    font-size: 28px;
}
@keyframes text-welcome-section {
    0% {
        transform: translate(500px);
    }
}
#welcome-section > p > b {
    color: var(--rosa);
}
#nico {
    font-family: 'Abril Fatface', cursive;
    font-size: 110px;
    color: white;
    text-shadow: 
    10px 0 var(--blue-very-dark), 
    0 10px var(--blue), 
    30px -20px var(--rosa);
    animation-name: nico;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}
@keyframes nico {
    0% {
        transform: translate(0, 500px);
    }
}



.section-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 15vw;
    padding: 20px;
}
.span-to-align {
    margin: 10px;
}



#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 100px;
    font-size: 20px;
}
#about-me > p {
    margin: 0 60px 0 60px;
    box-sizing: content-box;
}
#about-me > p > a:hover {
    color: var(--rosa);
    font-weight: bold;
}
#about-me > h1 {
    color: var(--white);
    text-shadow: 
    10px 0 var(--blue-very-dark), 
    0 10px var(--blue), 
    -70px -30px var(--rosa);
}
#about-me > h3 {
    color: var(--rosa);
}
#foto-profile-cont {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 40px;
}
#foto-profile-cont > img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}
.link-button {
    font-size: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 100px;
    background-color: var(--white);
    margin: 40px 20px 20px 20px;
    border: 2px solid var(--white);
    text-align: center;
    box-shadow: 10px 10px var(--blue);
    color: var(--blue-very-dark);
}
.link-button:active {
    background-color: var(--rosa);
    transition: 0.5s;
    color: var(--white);
    padding: 15px;
}
.link-button:hover {
    background-color: var(--rosa);
    transition: 0.5s;
    color: var(--white);
    padding: 15px;
}



#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    color: var(--blue-very-dark);
}
#projects > h1 {
    color: var(--white);
    text-shadow: 
    -5px -4px var(--blue-very-dark), 
    5px 10px var(--blue), 
    70px -50px var(--rosa);
}
#previews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px; /* added to adjust the desktop view */
}
#previews-container > a {
    margin: 10px;
}
.project-card {
    width: 300px;
    height: 300px;
    background-color: var(--blue-dark);
    display: flex;
}
.project-card > img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}
.project-card:hover {
    transition: 0.4s;
}
.project-card > img:hover {
    filter: none;
    transition: 0.4s;
}



#contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--rosa);
}
.icons {
    font-size: 12vw;
    padding: 5vw 0 5vw 0;
    color: var(--blue-very-dark);
}
.icons:hover {
    color: var(--white);
    font-size: 14vw;
    transition: 0.3s;
}
.icons:active {
    color: var(--white);
    font-size: 14vw;
    transition: 0.1s;
}


/* Media queries */
@media screen and (min-width: 576px) {
#about-me > p {
    font-size: 3.47vw;
}
#menu {
    top: 0;
    right: 60px;
    flex-direction: row;
    width: auto;
}
#nico {
        font-size: 19.09vw;
    }
#contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--rosa);
    padding: 0 14vw 0 14vw;
}
.icons {
    font-size: 70px;
    padding: 25px 0 25px 0;
    color: var(--blue-very-dark);
}
.icons:hover {
    font-size: 80.64px;
}
.icons:active {
    font-size: 80.64px;
}
}
@media screen and (min-width: 768px) {
#welcome-section > p {
    font-size: 3.64vw;
}
#nico {
    font-size: 146px;
}
}
@media screen and (min-width: 992px) {
#welcome-section > p {
    font-size: 36.1px;
}
#about-me {
    font-size: 30px;
}
#about-me > p {
    margin: 0 160px 0 160px;
}
}
@media screen and (min-width: 1200px) {
.section-title {
    font-size: 10vw;
}
#about-me > p {
    font-size: 2.5vw;
}
}
#circle {
    animation: anim 5s linear;
}
@keyframes anim {
    to {
        stroke-dashoffset: 1000;
    }
}